<!DOCTYPE html>
<html>
<head>
  <title>Todo list - Vue.js</title>    
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="images/favicon.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,100,700,100italic,300italic,400italic">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39432248-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39432248-2');
  </script>

</head>

<body>
  <div id="app">
    <h1>Daily To-Do list manager</h1>
    <section class="todo-wrapper">
      <h2 class="todo-title">{{ today.day }}<br>{{ today.date }}</h2>
      <form @keydown.enter.prevent="">
        <input type="text" class="input-todo" v-bind:class="{ active: new_todo }" placeholder="Take the garbage out" v-model="new_todo" v-on:keyup.enter="addItem">
        <div class="btn btn-add" v-bind:class="{ active: new_todo }"  @click="addItem">+</div>
      </form>

      <div v-if="pending.length > 0">
        <p class="status busy">You have {{ pending.length }} pending item<span v-if="todoList.length>1">s</span></p>
        <transition-group name="todo-item" tag="ul" class="todo-list">
          <li v-for="(item, index) in pending" v-bind:key="index">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>  
      </div> 

      <transition name="slide-fade">
        <p class="status free" v-if="!pending.length" ><img src="images/beer_celebration.svg" alt="celebration">Time to chill!  You have no todos.</p> 
      </transition> 

      <div v-if="completed.length > 0 && showComplete">
        <p class="status">Completed tasks: {{ completedPercentage }}</p>
        <transition-group name="todo-item" tag="ul" class="todo-list archived">
          <li v-for="(item, index) in completed" v-bind:key="index">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>  
      </div>
      <div class="control-buttons">
        <div class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span v-if="!showComplete">Show</span><span v-else>Hide</span> Complete</div>
        <div class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Clear All</div>
      </div>
    </section>
  </div>
  <footer>
    <div class="github-links">
      <a class="github-button" href="https://github.com/nourabusoud" aria-label="Follow @nourabusoud on GitHub">Follow @nourabusoud</a>
      <a class="github-button" href="https://github.com/nourabusoud/vue-todo-list" data-icon="octicon-star" aria-label="Star nourabusoud/vue-todo-list on GitHub">Star</a>
    </div>  
    Made with <3 by <a href="https://www.nourabusoud.com/">Nour Soud</a><br>
    View on <a href="https://github.com/nourabusoud/vue-todo-list">Github</a> or play around with it on <a href="https://codepen.io/nourabusoud/pen/WMGZaL">Codepen</a>
  </footer>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>


<script>
new Vue({
  el: '#app',
  data() {
    return {
      todoList: [
        {"id":0,"title":"Go to codepen and get inspired","done":false},
        {"id":1,"title":"Pick a project","done":false},
        {"id":4,"title":"Create a new pen","done":true}
      ],
      new_todo: '',
      showComplete: false,
    };
  },
  mounted() {
    this.getTodos();
  },
  watch: {
    todoList: {
      handler: function(updatedList) {
        localStorage.setItem('todo_list', JSON.stringify(updatedList));
      },
      deep: true
    }
  },
  computed:{
    pending: function() {
      return this.todoList.filter(function(item) {
        return !item.done;
      })
    },
    completed: function() {
      return this.todoList.filter(function(item) {
        return item.done;
      }); 
    },
    completedPercentage: function() {
      return (Math.floor((this.completed.length / this.todoList.length) * 100)) + "%";
    },
    today: function() {
      var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();

      if(dd<10) {
          dd = '0'+dd
      } 

      if(mm<10) {
          mm = '0'+mm
      } 

      today = {
        day: weekday[today.getDay()],
        date:  mm + '-' + dd + '-' + yyyy,
      }

      return(today);
    }
  },
  methods: {
    // get all todos when loading the page
    getTodos() {
      if (localStorage.getItem('todo_list')) {
        this.todoList = JSON.parse(localStorage.getItem('todo_list'));
      }
    },
    // add a new item
    addItem() {
      // validation check
      if (this.new_todo) {
        this.todoList.unshift({
          id: this.todoList.length,
          title: this.new_todo,
          done: false,
        });
      }
      // reset new_todo
      this.new_todo = '';
      // save the new item in localstorage
      return true;
    },
    deleteItem(item) {
      this.todoList.splice(this.todoList.indexOf(item), 1);
    },
    toggleShowComplete() {
      this.showComplete = !this.showComplete;
    },
    clearAll() {
      this.todoList = [];
    }
  },
});
</script>

